.addNewExercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: -10rem;
  z-index: 1;
}

.addLogo {
  height: 6rem;
  width: 6rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0.5rem;
}

.addLogo:hover {
  transform: scale(1.1);
}
