.main-container {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.new-split-add-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.choose {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #fff;
}

.workout-grid {
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.workout-container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  font-size: large;
  border-style: solid;
  border-color: white;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 50px;
  transition: 0.5s;
}

.workout-container:hover {
  scale: 1.05;
}

.image-and-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.workout-image {
  height: 5rem;
}

.delete-split {
  position: absolute;
  right: 0rem;
  top: 0rem;
  height: 2rem;
  width: 5rem;
  font-size: 1rem;
  color: #fff;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 3px;
  font-weight: 600;
  background-color: #d42c1d;
  outline: none;
  border: none;
  transition: all 0.4s;
  font-family: "Montserrat", sans-serif;
}

.delete-split:hover {
  scale: 1.05;
  filter: brightness(1.05);
}

.workout-card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 10px;
}

.workout-card-title {
  font-weight: 800;
  font-size: large;
  margin-bottom: 10px;
  align-self: center;
}
