.new-workout-add-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.workoutGrid-main-container {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.exercise-grid {
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.exercise-list-container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  font-size: large;
  border-style: solid;
  border-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: 0.2s;
  background-color: #ffff;
}

.exercise-list-container:hover {
  scale: 1.02;
}

.image-and-delete-container-workout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.exercise-image {
  height: 3rem;
}

.exercise-card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 10px;
  flex-grow: 1;
}

.exercise-card-title {
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 400;
  font-size: large;
  margin-bottom: 10px;
  align-self: center;
}

.delete-workout {
  position: absolute;
  right: 0rem;
  top: 0rem;
  font-size: 1rem;
  color: #d42c1d;
  font-weight: 500;
  transition: all 0.4s;
}

.delete-workout:hover {
  cursor: pointer;
}

.enter-workout {
  height: 2rem;
  font-size: 1rem;
  color: #fff;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 3px;
  font-weight: 400;
  /* background-color: rgb(16, 172, 224); */
  background-color: #bbbcbc;
  outline: none;
  border: none;
  transition: all 0.4s;
  margin-top: 1rem;
}

.enter-workout:hover {
  cursor: pointer;
  background-color: #2c2d2d;
}
