.navigation-container {
  height: 5rem;
  width: 100%;
  background: #3f3f3f;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.navigation-logo {
  height: 100%;
  background-color: #fff;
}

.navigation-user {
  font-weight: 400;
  font-size: large;
  color: #fff;
}

.links {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  gap: 1rem;
}

.links a {
  color: #fff;
}
